* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header{
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 2rem;
}

/* main{
    margin: 20px;
    padding: 30px;
} */

section {
    margin:  0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section2{
    margin: 0 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
}

.box {
    margin: 30px 20px;
    margin-top: 0;
    padding: 10px;
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside{
    margin: 5px;
    width: 150px;
    height: 150px;
    background-color: rgba(128, 128, 128, 0.3);
    /* perspective: 300px; */
}

.color{
    min-width: 150px;
    min-height: 150px;
    background-color: rgba(187, 87, 212, 0.49);
    /* transition: 1s; */
    /* perspective: 300px; */
}

#one:hover {
    transform: rotate(45deg);
}

#two:hover {
    transform: rotateX(45deg);
}

#three:hover {
    transform: rotateY(45deg);
}

#four:hover {
    transform: scale(2);
}

#five:hover {
    transform: scaleX(2);
}

#six:hover {
    transform: scaleY(2);
}

#seven:hover {
    transform: skewX(45deg);
}

#eight:hover {
    transform: skewY(45deg);
}

#nine:hover {
    transform: translate(4.5rem, 1.5rem)
}

#ten:hover {
    transform: translateX(4.5rem);
}

#eleven:hover {
    transform: translateY(3.5rem);
}

#twelve:hover {
    transform: skewY(45deg) scale(2) translateX(2.2rem) translateY(-2rem);
}

#thirteen:hover {
    transform: perspective(300px) scale3d(1, 1, 2) rotate3d(1, 0, 0, 50deg); 
 } 

#fourteen:hover {
    transform: perspective(300px) scale3d(1, 1, 2) rotate3d(0, 1, 0, 50deg);;
}

#fifteen:hover {
    transform: rotate(45deg);
    transform-origin: top right;
}

#sixteen:hover {
    transform: rotate(45deg);
    transform-origin: bottom left;
}

#seventeen:hover {
    transform: perspective(300px) rotate3d(2, 0, 0, 40deg) scale3d(1, 1, 2);
    transform-origin: bottom center;
}

#eighteen:hover {
    transform: perspective(300px) rotate3d(-2, 0, 0, -60deg) scale3d(1, 1, 2);
    transform-origin: top center;
}

#nineteen:hover {
    transform: perspective(300px) rotate3d(0,2,0,40deg) scale3d(1,1,2);
    transform-origin: center left;
}

#twenty:hover {
    transform: perspective(300px) rotate3d(0,-2,0,-60deg) scale3d(1,1,2);
    transform-origin: center right;
}

#twenty-one:hover {
    transform: scale(2);
    transform-origin: top right;
}

#twenty-two:hover {
    transform: scale(2);
    transform-origin: bottom left;
}

#twenty-three:hover {
    transform: scaleX(2);
    transform-origin: center right;
}

#twenty-four:hover {
    transform: scaleX(2);
    transform-origin: center left;
}

#twenty-five:hover {
    transform: scaleY(2);
    transform-origin: top center;
}

#twenty-six:hover {
    transform: scaleY(2);
    transform-origin: bottom center;
}

.ref {
    margin: 30px;
    padding: 100px;
}